# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\FAX\FINKI\V Semester\Distribuirani sistemi\DistributedSystems-LabWork\DS_Ispit_e1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
